.whatsapp-btn {
  position: fixed;
  bottom: 100px;
  right: 25px;

  width: 55px;
  height: 55px;

  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  z-index: 9999; /* siempre encima */
  transition: transform 0.3s ease;
}

.whatsapp-btn img {
  width: 65%;
  height: 65%;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}


