
<div class="col-lg-11">
    <article class="position-relative">

        <div class="post-img position-relative overflow-hidden">
            <img src="{{product.imagen}}" class="img-fluid uniform-img">
        </div>

        <div class="meta d-flex align-items-end">
            <span class="post-date"><span>${{product.precio}}</span></span>
            <div class="d-flex align-items-center">
                <span class="ps-2">{{product.categoria.nombre}}</span>
            </div>
        </div>

        <div class="post-content d-flex flex-column">

            <h3 class="post-title">{{product.nombre}}</h3>
            <a href="blog-details.html"
                class="readmore stretched-link"><span>Read More</span><i
                    class="bi bi-arrow-right"></i></a>

        </div>

    </article>
</div>
