
<div class="col-lg-11">
    <article class="position-relative">

        <div class="post-img position-relative overflow-hidden">
            <img src="{{product.imagen}}" class="img-fluid uniform-img">
        </div>

        <div class="meta d-flex align-items-end">
            <span class="post-date"><span>${{product.precio}}</span></span>
            <div class="d-flex align-items-center">
                <span class="ps-2">{{product.categoria.nombre}}</span>
            </div>
        </div>

        <div class="post-content d-flex flex-column">

            <h3 class="post-title">{{product.nombre}}</h3>
            <a
                class="readmore stretched-link"
                (click)="openProductModal(product)"><span>Read More</span><i
                    class="bi bi-arrow-right"></i></a>

        </div>

        <!-- Modal Información Producto -->
        <div #productModal class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">{{ selectedProduct?.nombre
                            }}</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <img [src]="selectedProduct?.imagen"
                            class="img-fluid mb-3">
                        <p><strong>Precio:</strong> ${{ selectedProduct?.precio
                            }}</p>
                        <p><strong>Categoría:</strong> {{
                            selectedProduct?.categoria?.nombre }}</p>
                        <p><strong>Descripción:</strong></p>
                        <p>{{ selectedProduct?.descripcion }}</p>
                    </div>

                </div>
            </div>
        </div>

    </article>
</div>
