.uniform-img {
  height: 180px;           /* Altura fija para todas las imágenes */
  width: 40%;             /* Que ocupe todo el ancho del contenedor */
  object-fit: cover;       /* Recorta la imagen sin deformarla */
  object-position: 50%; /* Centra el recorte */
  
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: #0d6efd; /* azul Bootstrap */
  font-size: 1.4rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.delete-btn:hover {
  color: #dc3545; /* rojo Bootstrap */
  transform: scale(1.1);
}

