

<div class="main">
    <main>
        <section id="hero" class="hero section dark-background">
            <div id="hero-carousel" class="carousel slide carousel-fade"
                data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-item active">
                    <img src="assets/img/hero_1.jpg" alt>
                    <div class="carousel-container">
                        <h2>Compartimos tu pasión por la química y el
                            laboratorio </h2>
                        <p> Permitenos ser parte de tu formación en el campo de
                            la química,
                            nuestra experiencia sumada a tu ingenio puede llegar
                            a grandes resultados.</p>
                    </div>
                </div><!-- End Carousel Item -->
                <div class="carousel-item ">
                    <img src="assets/img/hero_2.jpg" alt>
                    <div class="carousel-container">
                        <h2>Venta y reparación de material de laboratorio </h2>
                        <p>Te facilitamos variedad de instrumentos de
                            laboratorio para tus practicas académicas o
                            laboratorios industruiales.
                            Manejamos todas las opciones del mercado, además de
                            ofrecer servicio de reparación
                        </p>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="assets/img/hero_3.jpg" alt>
                    <div class="carousel-container">
                        <h2>Te guiamos responsablemente en tus experimentos
                            químicos</h2>
                        <p>Enfocamos nuestra labor a la sana formación del
                            estudiante en el area de la química.
                            Contamos tambien con los quimicos y reactivos que
                            necesitas y te nformamos sobre sus precauciones y
                            usos</p>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="assets/img/hero_4.jpg" alt>
                    <div class="carousel-container">
                        <h2>Gran calidad de productos de limipeza y
                            cosméticos</h2>
                        <p>Ven y pregunta por productos de limpieza para tu
                            hogar.
                            Tambien ofrecemos productos cosméticos para tu aseo
                            personal y el cuidado de tu piel.</p>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#hero-carousel"
                    role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left"
                        aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel"
                    role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right"
                        aria-hidden="true"></span>
                </a>
            </div>

        </section>

        <section id="services" class="services section">
            <div class="text-center">
                <h2>SERVICIOS</h2>
                <p>Conoce los servicios que tenemos para ti</p>
            </div>
            <app-card-service></app-card-service>
        </section>

        <section id="contactus" class="services section"><div
                class="text-center">
                <h2>CONTACTO</h2>
                <p>Dirijete a nuestros canales de atención</p>
            </div>
            <app-contact></app-contact>
        </section>
        <button class="scroll-top-btn" (click)="scrollToTop()">
            ↑
        </button>

        <div class="copyright text-center">
        </div>

    </main>
</div>
